body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #444;
}

form button{
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    width: 100%;
}

#main h1{
    text-align: center;
}

#main{
    box-sizing: border-box;
    width: 60%;
    height: 100%;
}

ul#book-list {
    padding-left: 0;
}

#book-list li{
    display: inline-block;
    border: 1px solid #444;
    cursor: pointer;
    margin: .5em; padding: .5em;
}

#book-details{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 30px;
    overflow: auto;
    box-sizing: border-box;
    border-left: 1px dotted #444;
}

#add-book{
    margin: 1em;
}
